h1{ width:100%; 
    font-family:Tahoma,Verdana,Sans-serif; 
    font-size:16px; 
    background-color:#FFFF99; 
} 
h2{ width:100%; 
    font-family:Tahoma,Verdana,Sans-serif; 
    font-size:14px; 
    background-color:#FFFF99; 
} 
h3{ width:100%; 
    font-family:Tahoma,Verdana,Sans-serif; 
    font-size:12px; 
    background-color:#FFFF99; 
} 

.film{
    width:100%; 
    font-family:Tahoma,Verdana,Sans-serif; 
    font-size:12px; 
    font-weight: bold; 
    background-color:#2ECC40; 
}

.errore{
    font-family:Tahoma,Verdana,Sans-serif; 
    font-size:12px; 
    font-weight: bold;
    color: #FF0000; 
}

.giusto{
    font-family:Tahoma,Verdana,Sans-serif; 
    font-size:12px; 
    font-weight: bold;
    color: #2ECC40; 
}

table{ 
    font-family:Tahoma,Verdana,Sans-serif; 
    font-size:12px; 
} 

td.newp{
  background:#CCCCCC;
  font-weight:bold;
} 

td.categorie{
  color:#FFFFFF;
  background-color:#9CAB10;
} 
td.categorie a{
  color:#FFFFFF;
  padding-left:5px;
} 

body {
    font-family: sans-serif;
}
label {
    display: block;
    font-weight: 700;
}

p input {
    width: 25em;
}
.error {
    color: red;
    border-color: red;
}

.no_error {
    color: green;
    border-color: green;
}

footer {
    padding: 1em 0;
    border-top: 1px solid #999;
    margin-top: 2em;
}

#form label.error {
        color: red;
        font-weight: bold;
    }
     
    .main {
        width: 400px;
        margin: 0 auto;
    }