html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

.film{
    background: url("img/film.gif") repeat;
    width: 100%;
    height: 52px;
    border:1px solid #FFF;
}

.footerLink {
    position: absolute;
    bottom: 50px;
    width: 600px;
    border-top: 1px solid #000;
    background-color:#DDD
}

.msgok {
    color: green;
    font-weight: bold;
    height: 30px;
}
.msgerror {
    color: red;
    font-weight: bold;
    height: 30px;
}



label.error {
    color: red;
    font-weight: bold;
}

.main {
    width: 600px;
    margin: 0 auto;
}

.container_page{
    display:table;
}

.container_dx{
    display: inline-block;
    display:table-cell; 
    vertical-align: middle;
    padding-left:10px;
}

.box{
    display: inline-block;
}

.bbox_dx{
    display: inline-block;
    border-top: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    padding-top:20px;
    padding-bottom:20px;
}

.text_dx{
    display: inline-block;
    padding-bottom:20px
}

.box_dx{
    display:table;
}

.sbox_sx{
    display: inline-block;
    display:table-cell; 
    vertical-align: middle;
    padding-right:10px;
    width: 100px;
}

.sbox_dx{
    display: inline-block;
    display:table-cell; 
    vertical-align:middle;
    border-left: 1px #CCC solid;
    padding-left:10px;
}
.box_dx_top{
    display: inline-block;
    display:table-cell; 
    vertical-align: top;
    border-top: 1px #CCC solid;
    padding-left:10px;
    padding-top:10px;
}

div.pic{
    display: inline-block; 
    padding:0 0 12px 0;
    background: url(img/shadow.png) no-repeat bottom center
}

div.pic img{
    display: block;
    border: 1px solid;
    border-color: #CCC #CCC #AAA #CCC;
    padding: 5px;
    background: #f6f6f6}