.msgok {
    color: green;
    font-weight: bold;
    height: 30px;
}
.msgerror {
    color: red;
    font-weight: bold;
    height: 30px;
}

.film{
    background: url("img/film.gif") repeat;
    width: 100%;
    height: 50px;
}

label.error {
    color: red;
    font-weight: bold;
}

.main {
    width: 600px;
    margin: 0 auto;
}